# Assignment 1

# Task 1

## Problem 1 :
Install Jupyter notebook and run the first program and share the screenshot of the output.

In [1]:
print("hello world")

hello world

## Problem 2
Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [2]:
for i in range(2000,3201):
    while i%7==0:
        if i%5==0:
            i+=1
        print(i,end=", ")
        i+=1

2002, 2009, 2016, 2023, 2031, 2037, 2044, 2051, 2058, 2066, 2072, 2079, 2086, 2093, 2101, 2107, 2114, 2121, 2128, 2136, 2142, 2149, 2156, 2163, 2171, 2177, 2184, 2191, 2198, 2206, 2212, 2219, 2226, 2233, 2241, 2247, 2254, 2261, 2268, 2276, 2282, 2289, 2296, 2303, 2311, 2317, 2324, 2331, 2338, 2346, 2352, 2359, 2366, 2373, 2381, 2387, 2394, 2401, 2408, 2416, 2422, 2429, 2436, 2443, 2451, 2457, 2464, 2471, 2478, 2486, 2492, 2499, 2506, 2513, 2521, 2527, 2534, 2541, 2548, 2556, 2562, 2569, 2576, 2583, 2591, 2597, 2604, 2611, 2618, 2626, 2632, 2639, 2646, 2653, 2661, 2667, 2674, 2681, 2688, 2696, 2702, 2709, 2716, 2723, 2731, 2737, 2744, 2751, 2758, 2766, 2772, 2779, 2786, 2793, 2801, 2807, 2814, 2821, 2828, 2836, 2842, 2849, 2856, 2863, 2871, 2877, 2884, 2891, 2898, 2906, 2912, 2919, 2926, 2933, 2941, 2947, 2954, 2961, 2968, 2976, 2982, 2989, 2996, 3003, 3011, 3017, 3024, 3031, 3038, 3046, 3052, 3059, 3066, 3073, 3081, 3087, 3094, 3101, 3108, 3116, 3122, 3129, 3136, 3143, 3151, 3157, 3164, 3171, 3178, 3186, 3192, 3199,

## Problem 3
Write a Python program to accept the user's first and last name and then getting them printed in the the reverse order with a space between first name and last name.

In [3]:
x = input("enter first name:")
y = input("enter last name:")
x = x[::-1]    #reversing a string
y = y[::-1]
print(x,y)     #if you want last name at initial positon do print(y,x)

enter first name:rahul
enter last name:bajaj
luhar jajab

## Problem 4
Write a Python program to find the volume of a sphere with diameter 12 cm.  
Formula: V=4/3 * π * r 3

In [4]:
def volume(num):
    pi=3.14
    print("volume of the sphere is {}".format((4/3)*pi*(num**3)))
volume(12)

volume of the sphere is 7234.5599999999995

# Task 2

## Problem 1
Write a program which accepts a sequence of comma-separated numbers from console and generate a list.

In [13]:
a = input("enter values:")
list1=[]
list1.append(a)
print(list1)

enter values:1,2,3,4
['1,2,3,4']

entering numbers from console

In [7]:
a = 1,2,3,4
b=[]
for i in a:
    b.append(i)
print(b)

[1, 2, 3, 4]

directly doing without a console

## Problem 2
Create the below pattern using nested for loop in Python.

In [8]:
for i in range(5):
    for j in range(i+1):
        print("*",end=" ")
    print()
for i in range(4):
    for j in range(4-i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

## Problem 3
Write a Python program to reverse a word after accepting the input from the user. 
 
Sample Output: 
 
Input word: AcadGild 
 
Output: dilGdacA

In [9]:
x = input("enter the string:")
x = x[::-1]
print(x)

enter the string:i am doing good
doog gniod ma i

## Problem 4
Write a Python Program to print the given string in the format specified in the ​sample output. 
 WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a 
 SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all 
 its citizens 
 
Sample Output: 
 
WE, THE PEOPLE OF INDIA,   
    having solemnly resolved to constitute India into a SOVEREIGN, !  
        SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC    
        and to secure to all its citizens

In [10]:
print("WE, THE PEOPLE OF INDIA, \n\thaving solemnly resolved to constitute India into a SOVEREIGN, \n\t\tSOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n\t\tand to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN,
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		and to secure to all its citizens